/* Add any global styles or overrides here */

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

.feature {
  transition: all 0.2s ease-in-out;
}

.feature:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.icon-link {
  text-decoration: none;
}
